<div class="container-fluid">
    <div class="row" style="background-color: rgb(247, 245, 245);padding-bottom: 10px;">
        <div class="col-6" style="padding-top: 15px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
            <img style="padding-bottom: 5px;margin-left: 20px;" width="100px" src="../assets/dubizzle.png" alt="">
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row" style="justify-content: center;">
        <p style="text-align: center;padding-top: 10px;font-weight: bold;font-size: 20px;">POST YOUR AD</p>
    </div>

    <div class="row">
        <div class="col-1"></div>


        <div class="col-10"
            style="border: 1px solid rgb(163, 155, 155);margin-top: 20px;padding-top: 20px;border-radius: 10px;margin-bottom: 5%;">
            <div class="row">
                <div class="col-6">
                    <p style="font-weight: bold;">CHOOSE A CATEGORY</p>

                </div>
                <div class="col-6"></div>
            </div>

            <hr width="100%" />


            <!-- <div class="row ">
                <div class="col-1">
                    <i class="fa-sharp fa-light fa-car"></i>
                </div>
                <div class="col-2">
                    Vehicles
                </div>
                <div class="col-1">
                    <i class="fa-sharp fa-light fa-chevron-right"></i>
                </div>
                <div class="col-4 secondCat"></div>
                <div class="col-4 thirdCat"></div>
            </div> -->
            <div class="row" style="padding-bottom: 2%;">
                <div class="col-4 " style="justify-content: space-between;">
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa-sharp fa-light fa-car" style="color: red;"></i>
                            Vehicles
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </div>

        <div class="col-1"></div>

    </div>


</div>