
<div class="container">
    <div class="row">

        <div class="col-md-4 col-sm-4">
            <div class="rounded-lg border  title" >
                <span style="font-weight: bold;margin-bottom: 2%;">INBOX</span>
            </div>
            <div class="rounded-lg border header" >
                <p style="font-size: 10px;padding-top: 3px;">QUICK FILTERS</p>
                <span  class="H_item"> all</span>
                <span class="H_item"> unread chats</span>
                <span class="H_item"> important</span>
            </div>
            <div class="rounded-lg border list_user" >
                <!-- {{users | json}} -->
                <div class="emptyimg " *ngIf="users == null">
                    <span >

                        <img  src="../assets/emptyChat.a6b9befc0789bd419ec5ed4fad199ab4 (1).webp" alt="" >
                    </span>
                </div>
                <div *ngFor="let user of users">

                    <div class="profile" (click)="GetUser(user.id)">
                        <span *ngIf="user.gender == 'Female'">
                            <img class="profile-image" src="../assets/user_female.jpg" alt="Profile Image">
                        </span>
                        <span *ngIf="user.gender == 'Male'">
                            <img class="profile-image" src="../assets/user_male.jpg" alt="Profile Image">
                        </span>
                        <div class="profile-name">{{user.userName}}</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="rounded-lg border title" >
                <span class=""> S </span>
                <span> Owner profile</span>
            </div>
            <div class="rounded-lg border p-2" >
                <span>
                    <img class="imageAdv" src="http://localhost:7189/Files/AdvertismentIMG/{{AdvertismentDetails.advertismentImagesList[0].imageName}}" alt="">
                </span>
                <span> {{AdvertismentDetails.title}} </span>
                <span class="float-end btn btn-info"><a routerLink="/Details/{{AdvertismentId}}">view ad</a> </span>
            </div>
            <div class="rounded-lg border chat_room" >
                <div class="emptyimg " *ngIf="chatData == null">
                    <span >

                        <img  src="../assets/emptyChat.a6b9befc0789bd419ec5ed4fad199ab4 (1).webp" alt="" >
                        <p>Select a chat to view conversation</p>
                    </span>
                </div>
                <div *ngFor="let userchat of chatData ">

                    <div id="{{userchat.id}}">
                        
                        <div class="sendersection" *ngIf="userchat.senderID == CurrentUserId">
                            <div class="sendersection">
                                <div class="sender">
    
                                    <p>{{userchat.id}}</p>
                                    {{userchat.content}}
                                    <span>{{userchat.date}}</span>
                                    <span *ngIf="userchat.room?.sold" class="float-end deleteicon" (click)="delete(userchat.id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                    <br>
                                    <div *ngIf="userchat.file != null">
                                        <img class="image" src="http://localhost:7189/Files/ChatImages/{{userchat.file}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div  *ngIf="userchat.senderID != CurrentUserId">
                            
                            <div class="rightMsg float-end">
                            <div class="reciver d-lg">
                               
                                    <span class="p-1">

                                        {{userchat.content}}
                                    </span>
                                    <span class="p-1 float-end">{{userchat.date}}</span>
                                    <span *ngIf="userchat.room?.sold" class="float-start deleteiconleft" (click)="delete(userchat.id)">
                                        <i class="fa fa-trash" aria-hidden="true"  >
    
                                        </i>
            
                                    </span>
                                    <div *ngIf="userchat.file != null">
                                        <img class="image" src="http://localhost:7189/Files/ChatImages/{{userchat.file}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [disabled]="currentPage === getCeil(chatData.length 
                / itemsPerPage)" -->
                <div>
                    {{newChat}}
                    <div *ngIf="img != null">
                        <img class="image" src="http://localhost:7189/Files/ChatImages/{{img}}" alt="">
                    </div>
                    <!-- {{tempData |json}} -->
                    <br>
                    
                    <br>
                    <div class="emptyimg" *ngIf="chatData != null">
                        <button class="btn-primary" (click)="GetMessage()" 
                        >More</button>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border" >
                <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">

                    <input class="input" type="text" placeholder="type message" 
                    formControlName="content"
                    [(ngModel)]="chat.content" >
                    <span class="file">
                        <i class="fa-solid fa-paperclip ">
                        </i>
                        <input class="filebrowse"  aria-label="File browser example"
                        type="file"
                        [(ngModel)]="chat.file"
                        (change)="onSelectFile($event)"
                        formControlName="file">
                    </span>
                    <button class="float-end send_icon" type="submit" >
                        
                        <span >
                            
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>