<div class="container-fluid" >
<div class="row" >
    <div class="col-2"></div>
    <div class="col-8" style="border: 1px solid rgb(163, 155, 155);margin-top: 10%;margin-bottom: 5%;border-radius: 10px;">
        <!-- <div class="container" -->
            
            <h5 style="padding-top: 2%;">Edit Profile</h5>
            <hr style="width: 100%;" />
            <form #userForm='ngForm' >
                {{userForm}}
                <div class="row">
                    <div class="col-6 ">
                        <div class="f  orm-group">
                            <label style="font-weight: bold;font-size: 14px;margin-bottom: 2%;">Name</label>
                            <input type="text" name="textName" ngModel class="form-control" />
                        </div>

                        <div class="row form-group" style="margin-top: 5%;">
                            <label style="font-weight: bold;font-size: 14px;margin-bottom: 2%;">Date of birth</label>

                            <div class="col">
                                <ejs-dropdownlist [dataSource]="days" [fields]="dataOfDays" placeholder="DD" />
                            </div>
                            <div class="col">
                                <ejs-dropdownlist [dataSource]="months" [fields]="dataOfMonths" placeholder="MM" />
                            </div>
                            <div class="col">
                                <ejs-dropdownlist [dataSource]="years" [fields]="dataOfYears" placeholder="YYYY" />
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <label style="font-weight: bold;font-size: 14px;;margin-bottom: 2%;">Gender</label>

                            <ejs-dropdownlist [dataSource]="gender" [fields]="dataFields"
                                placeholder="Select your gender" />
                        </div>

                        <div class="mb-3" style="margin-top: 5%;padding-bottom: 5%;">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="About Me (optional)"></textarea>
                        </div>
                    </div>

                    <div class="col-4">
                        <div style="border: 1px solid rgb(163, 155, 155);padding-top: 3%;margin-top: 10%;">
                            <p style="font-weight: bold;font-size: 13px;margin-left: 2%;">Why is it important?</p>
                            <p style="font-size: 12px;margin-left: 2%;">Dubizzle is built on trust. Help other people
                                get to<br />know you. Tell them about the things you like. Share <br />your favorite
                                brands, books, movies,shows,music,<br /> food. And you will see the results…</p>
                        </div>
                        
                    </div>
                    <div class="col-2"></div>
                    
                    <hr style="width: 100%;" />
                    <p style="font-weight: bold;font-size: 16px;;margin-bottom: 2%;">Contact information</p>


                    <div class="row">
                        <div class="col-6">
                            <input type="tel" placeholder="Phone number:1XXXXXXXXX" class="form-control" />
                            <br />
                            <input type="email" placeholder="Email:XXXX@XXXXX.XXX" class="form-control" />
                        </div>
                        <div class="col-6" style="margin-bottom: 5%;">
                            <p style="font-size: 12px;">This is the number for buyers contacts, reminders, and other
                                notifications.</p>
                            <p style="font-size: 12px;padding-top: 6%;">We won't reveal your email to anyone else nor
                                use it to send you spam</p>
                        </div>
                    </div>
                    
                    <hr style="width: 100%;" />
                    <p style="font-weight: bold;font-size: 16px;;margin-bottom: 2%;">Optional information</p>



                    <div class="row">
                        <div class="col-6">
                            <p>Facebook</p>
                            <p style="font-size: 12px;padding-bottom: 5%;">Sign in with Facebook and discover your
                                trusted connections to
                                buyers</p>

                            <p>Google</p>
                            <p style="font-size: 12px;">Connect your Dubizzle account to your Google account for
                                simplicity and ease</p>


                        </div>
                        <div class="d-grid gap-1 col-4 mx-auto">
                            <button class="btn btn-outline-danger" style="color: black;height: 50px;font-weight: bold;margin-top: 8%;"
                                type="button">Connect</button>
                            <button class="btn btn-outline-danger" style="color: black;;height: 50px;font-weight: bold;"
                                type="button">Disconnect</button>
                        </div>
                    </div>
                    
                    <hr style="width: 100%;" />
                    <div class="row">
                        <div class="col-1">
                            <h6><u>Discard</u></h6>
                        </div>
                        <div class="col-8"></div>
                        <div class="col-3">
                            <button type="button" style="margin-bottom: 8%;" class="btn btn-danger">Save changes</button>
                        </div>
                    </div>


                </div>
            </form>
        <!-- </div> -->
    </div>
    <div class="col-2"></div>

</div>
</div>