

    @media (max-width: 600px) {
      .space,.price,.user,.details {
        display: inline-block;
        width: 100%;
      }
      .fcol,.scol
      {
        display: inline-block;
        width: 50%;
      }
      
    }

    .profile:hover{
       cursor: pointer;
    }