<div class="container">
    <div class="row   g-2">
      <div class="col-6 col-lg-9">
        <div class="container" >
            <div class="card mb-2" *ngFor="let Ad of Advertisments">
                <div class="row">
                    <div class="col-12 col-lg-5 ">
                        <div class="card ">
                            <img src='http://localhost:7189/Files/AdvertismentIMG/{{Ad.advertismentImagesList[0]}}' height="250px" class="card-img-top card-img" alt="Item Image">
                            
                            <div *ngIf=" Ad.isPremium" class="card-img-overlay">
                                <button type="button" class="btn btn-warning px-1">feture</button>
                            </div>
                        </div>
                    </div>
               
                    <div class="col-12 col-lg-7 card-body">
                    <div class="d-flex flex-row justify-content-center">
                     <div class="me-auto">
                        <h5 class="card-title">{{Ad.title}}</h5>
                     </div>
                     <!-- <div class="">
                            <i class="fa-regular fa-heart"  *ngIf="item.likedbyme ; else elseTemplate"></i>
                        <ng-template #elseTemplate>
                            <i class="fa-solid fa-heart"></i>   
                        </ng-template>
                     </div>     -->
                     <div class=""></div>
                    </div>
                    <p class="card-text text-success">{{Ad.location}}</p>
                    <p class="card-text text-success">{{Ad.date}}</p>
                    <a href="#" class="btn anchors me-2 mt-5" ><i class="fa fa-phone-volume fa-danger"></i> Call</a>
                    <a href="#" class="btn mt-5 anchors" ><i class="fa fa-comments"></i> Chat</a><!-- *ngIf="item.havechat"-->
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 ">
        <app-filter-side  (dataChanged)="handleDataChange($event)"></app-filter-side>
      </div>
    </div>
</div>

